@use '../abstracts/' as abs;

.hero {
	display: flex;
	flex-direction: column;

	@include abs.breakpoint(medium) {
		display: grid;
		grid-template-rows: 644px;
		grid-template-columns: 513px 483px;
		grid-template-areas: 
			// 'title img'
			// 'body img'
			// 'btn img'
			// 'logos img';
			'body img'
			'body img'
			'body img'
			'body img';
		// gap: 53px 151px;
		column-gap: 151px;
		width: 80%;
		// 1148
		// img 483
		// body 513
		// max-width: 80%;
		margin-top: abs.em(80);
		margin-inline-start: 11%;
		margin-inline-end: 8%;
		// gap: abs.rem(151);
	}

	&__img {
		// make the div take the whole width and have the 
		// same aspect ratio as the picture
		// width: 100%;
		width: 100%;
		aspect-ratio: 375 / 282;
		// aspect-ratio: 282/375;
		background-image: url(../static/images/image-hero-mobile.png);
		background-repeat: no-repeat;
		background-size: contain;
		margin-bottom: abs.rem(51);

		@include abs.breakpoint(medium) {
			grid-area: img;
			background-image: url(../static/images/image-hero-desktop.png);
			place-self: stretch;
			margin-bottom: 0;
			// aspect-ratio: 483/644;
			// width: 80%;

		}
	}

	&__body {
		display: flex;

		flex-direction: column;
		align-items: center;
		margin-inline: abs.rem(21);

		@include abs.breakpoint(medium) {
			margin-inline: 0;
			display: grid;
			grid-template-rows: 259px 82px 59px 85px;
			grid-template-columns: 1fr;
			grid-template-areas: 
			'title'
			'text'
			'btn'
			'logos';
			row-gap: 53px;
			// flex-grow: 1;
			// flex: 1;
			// align-items: flex-start;
		}
	}

	&__title {
		font-weight: 700;
		font-size: var(--fs-700);
		color: var(--clr-dark);
		margin-bottom: abs.rem(24);
		letter-spacing: 0.11px;

		@include abs.breakpoint(medium) {
			grid-area: title;
			align-self: end;
			margin-bottom: 0;
			letter-spacing: -.6px;
			line-height: 1.04;
		}
	}

	&__text {
		margin-bottom: abs.rem(29);
		letter-spacing: 0.11px;
		line-height: 1.625;

		@include abs.breakpoint(medium) {
			grid-area: text;
			margin-bottom: 0;
			letter-spacing: -0.21;
			line-height: 1.5;
		}
	}

	.btn {
		text-decoration: none;
		font-family: var(--ff-sans);
		color: var(--clr-light);
		background-color: var(--clr-dark);
		padding: abs.em(16) abs.em(21);
		border-radius: 15px;
		margin-bottom: abs.em(48);

		@include abs.breakpoint(medium) {
			grid-area: btn;
			justify-self: start;
			margin-bottom: 0;
		}
	}

	.logo-container {
		display: flex;
		align-items: center;
		width: 100%;
		margin-inline: 1rem;
		gap: abs.rem(30);
		margin-bottom: abs.em(95);	

		@include abs.breakpoint(medium) {
			grid-area: logos;
			margin-bottom: 0;
			margin-inline: 0;
			align-self: end;
		}
	}
}