// @use "../base/colors" as *;
// @use "../functions/get-sizes" as *;
@use "colors"; 

// active color theme

// can change this here to select the theme
$active-theme: colors.$light-theme;

// color tokens
$accent-400: var(--accent-400);
$accent-500: var(--accent-500);
$primary-800: var(--primary-800);
$neutral-100: var(--neutral-100);
$neutral-900: var(--neutral-900);

// type tokens
$font-family-sans: "Roboto", sans-serif;
$font-weight-400: 400;
$font-weight-700: 700;
$font-weight-900: 900;
$font-size-400: var(--fs-400);
$font-size-500: var(--fs-500);
$font-size-500: var(--fs-600);
$font-size-700: var(--fs-700);

$color-surface-default: $neutral-100;
$color-surface-inverse: $primary-800;
$color-surface-accent: $accent-400;

$border-radius-1: 0.25rem;
$border-radius-2: 0.5rem;
$border-radius-3: 1rem;
$border-radius-4: 1.5rem;
$border-radius-100: 100vw;

// contextual tokens
$font-family-body: $font-family-sans;
$font-family-heading: $font-family-sans;

$font-weight-body: $font-weight-700;
$font-weight-bold: $font-weight-700;
$font-weight-heading: $font-weight-900;

$font-size-body: $font-size-400;

$color-page-background: $color-surface-default;

$color-text-body: $neutral-900;
$color-text-heading: $primary-800;
$color-text-accent: $accent-400;
$color-text-inverse: $neutral-100;

$border-radius-default: $border-radius-4;

$shadow-1: 0.25rem 0.25rem 1.25rem rgb(var(--shadow-1), 0.1);

$button-surface-default: $accent-400;
$button-text-default: $neutral-100;
$button-surface-default-hover: $accent-500;
$button-border-radius-default: $border-radius-100;
$button-padding-default: size(2) size(4);